<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet Home</title>
</head>
<body>

    <h1>Welcome to My Pets Page</h1>
    <img src="images/pets.jpg" alt="Pets">
    <div class="form-group">
        <div class="row">
            <label for="pet" class="col-sm-2 control-label">What kind of pet would you like to order?</label>

            <div class="col-sm-4">
                <input class="form-control" type="text" name="pet" id="pet">
            </div>
        </div>
    </div>
    <p></p><a href="order">Next</a></p>

</body>
</html>